.container {
  margin: auto;
  margin-top: 10%;
  height: 70%;
  width: 20%;
}
@media (max-width: 1300px) {
  .container {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 65%;
  }
}
input {
  margin: auto;
  width: 98%;
}
h3 {
  text-align: center;
  font-size: 23px;
}
.formcontainer {
  width: 95%;
  padding: 5px;
  margin: auto;
}
.registerbtn {
  height: 45px;
  width: 100%;
  border-radius: 4px;
  color: white;
  background-color: #4434a6;
}
.imagecontainer {
  margin: auto;
  width: 35%;
}
